APP_ENV=dev
APP_SECRET=23c174f51a0d4c85e55c43c95ea2d87c



MYSQL_DATABASE=ecommerce
MYSQL_USER=ecommerce_user
MYSQL_PASSWORD=ecommerce_password
MYSQL_ROOT_PASSWORD=root


DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@127.0.0.1:3306/${MYSQL_DATABASE}?serverVersion=8&charset=utf8mb4

